.bg-default {
    background-color: white;
}

.bg-good {
  background-color: #B8E052;
}

.bg-moderate {
  background-color: #FBDD4B;
}

.bg-unhealthy {
  background-color: #FB9C05;
}

.bg-very-unhealthy {
  background-color: #FD5C01;
}